<div class="flex flex-col flex-1 h-full bg-gray-200 justify-center items-center ">
    <section class="flex flex-col bg-white p-4 w-50 rounded-xl gap-4 max-w-xl min-w-100">
        <img src="/images/spotify-playlist-generator.png" width="200" class="self-center my-10">
        <div class="flex flex-col">
            <span class="font-bold text-2xl align-middle text-center">
                Acceder
            </span>
            <span class="font-light text-base align-middle text-center">
                Inicia sección para poder crear tus playlist a tu gusto.
            </span>
        </div>

        <section class="flex flex-col gap-4">
            <div class="flex flex-col">
                <label for="search-tracks-input" class="form-label">Correo</label>
                <input id="search-tracks-input" type="email" class="form-control" [(ngModel)]="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <div class="input-group input-group-flat">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" autocomplete="off"
                        [(ngModel)]="password">
                    <span class="input-group-text">
                        <span (click)="togglePassword()" class="input-group-link cursor-pointer">Mostrar</span>
                    </span>
                </div>
            </div>
            @if(!loading){
            <button type="button" class="btn" (click)="login()">
                Acceder
            </button>
            }@else {
            <div class="progress progress-2">
                <div class="progress-bar progress-bar-indeterminate bg-green"></div>
            </div>
            }


        </section>
    </section>
</div>