<div class="flex p-4 pb-0 justify-between items-center">
    <span class="text-xl font-bold">Cambiar Contraseña</span>
    <div class="cursor-pointer" (click)="closeModal()">
        <svg transform="scale(1.5)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-x">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
</div>
<div class="p-4">
    <div class="flex flex-col gap-4">

        <div class="flex flex-col gap-2">
            <label for="create-user-form-name" class="text-base  font-light">Contraseña:</label>
            <input type="text" name="create-user-form-name" id="create-user-form-name" class="border-1 border-gray-400"
                [(ngModel)]="password">
        </div>

        <div class="flex flex-col gap-2">
            <label for="create-user-form-name" class="text-base  font-light">Confirmar Contraseña:</label>
            <input type="text" name="create-user-form-name" id="create-user-form-name" class="border-1 border-gray-400"
                [(ngModel)]="passwordConfirmation">
        </div>

        <div class="flex flex-1 justify-end gap-2">
            <button class="btn btn-neutral" (click)="cancelUser()">Cancelar</button>
            <button class="btn btn-success" (click)="updateUserPassword()">Cambiar Contraseña</button>
        </div>

    </div>
</div>