<div class="flex p-4 pb-0 justify-between items-center">
    <span class="text-xl font-bold">Asignar a Usuario</span>
    <div class="cursor-pointer" (click)="closeModal()">
        <svg transform="scale(1.5)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-x">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
</div>
<div class="flex flex-col flex-1 p-4 gap-4">

    <div class="flex flex-col gap-2 overflow-auto h-[400px] scroll-auto">
        @if(usersService.allActiveUsers$!=undefined|| usersService.allActiveUsers$!=null){
        @for (user of usersService.allActiveUsers$ | async; track user.id) {
        <div class="flex bg-white rounded-xl justify-between p-2">
            <label [for]="'user-to-assign-' + user.id" class="text-xl flex-1">{{user.name}}
            </label>
            <input type="radio" name="user-to-assign" id="user-to-assign" [value]="user.id"
                [id]="'user-to-assign-'+user.id" (change)="onCheckboxChange($event, user.id)">
        </div>
        }
        }@else {
        <span>loading</span>
        }

    </div>
    <div class="flex gap-2 flex-1 justify-end items-end">
        <button class="btn btn-success" (click)="assignUser()">Asignar</button>
    </div>

</div>