<div class="flex p-4 gap-4">
    <div class="flex flex-1 flex-col gap-4 p-4 bg-white rounded-xl">
        <div class="flex flex-1 justify-between">
            <span class="text-2xl font-bold">Dispositivos</span>
            <div class="flex gap-2">
                <button type="button" class="btn btn-dark" (click)="toggleSelectAll()">
                    {{ allSelected ? 'Desmarcar Todos' : 'Marcar Todos' }}
                </button>
                <button type="button" class="btn" (click)="openPlaylistModal()">Reproducir Playlist</button>
                <button type="button" class="btn" (click)="openArtistModal()">Reproducir Artista</button>
                @if(permissions.p5){<button type="button" class="btn" (click)="openAssignSeveralDevices()">Asignar
                    Dispositivos A
                    Usuario</button>}
                <button type="button" class="btn" (click)="newDevice()">Nuevo Dispositivo</button>
            </div>

        </div>
        <div class="devicelist flex-1" cdkDropListOrientation="mixed" cdkDropList
            [cdkDropListData]="devicesService.devicesValue" (cdkDropListDropped)="drop($event)">
            @if(permissions.p5){
            @for (devices of devicesService.devices$ | async; track devices.id) {
            @if(devices.ownerId){
            <div class="relative" cdkDrag>
                <input type="checkbox" class="peer sr-only" [id]="`chk-${devices.deviceId}`" [value]="devices.deviceId"
                    [checked]="selectedDevices.includes(devices.deviceId)"
                    (change)="onCheckboxChange($event, devices.deviceId)">
                <div class="p-1 rounded-xl border-2 border-transparent">
                    <div class="phone" aria-hidden="true">
                        <div class="screen">
                            <div class="notch" aria-hidden="true"></div>

                            <div class="status-dots">● ●</div>

                            <div class="top-code" aria-hidden="true">
                                <div class="font-bold text-4xl text-white">{{devices.deviceId}}</div>
                                <div class="font-bold text-xl text-black">{{devices.name}}</div>
                                @if(devices.typeName==""){
                                <div class="font-bold text-xs my-2 p-2 rounded text-white bg-black">
                                    {{ "Sin Licencia" }}
                                </div>
                                }@else {
                                <div class="font-bold text-xl mb-2" [ngClass]="{
                                                               'text-green-600': devices.typeName === 'Spotify',
                                                               'text-red-600'  : devices.typeName === 'Apple'
                                                             }">
                                    {{ devices.typeName }}
                                </div>
                                }
                                <div class="font-normal text-xs text-black max-w-xs break-all"
                                    [attr.title]="devices.email">
                                    {{ devices.email }}
                                </div>

                            </div>

                            <div class="controls"
                                (click)="openDeviceSettings(devices.deviceId, devices.name, devices.ownerId, devices.id)">
                                <div class="btn-circle" title="Settings">
                                    <span class="gear"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="currentColor"
                                            class="icon icon-tabler icons-tabler-filled icon-tabler-settings">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M14.647 4.081a.724 .724 0 0 0 1.08 .448c2.439 -1.485 5.23 1.305 3.745 3.744a.724 .724 0 0 0 .447 1.08c2.775 .673 2.775 4.62 0 5.294a.724 .724 0 0 0 -.448 1.08c1.485 2.439 -1.305 5.23 -3.744 3.745a.724 .724 0 0 0 -1.08 .447c-.673 2.775 -4.62 2.775 -5.294 0a.724 .724 0 0 0 -1.08 -.448c-2.439 1.485 -5.23 -1.305 -3.745 -3.744a.724 .724 0 0 0 -.447 -1.08c-2.775 -.673 -2.775 -4.62 0 -5.294a.724 .724 0 0 0 .448 -1.08c-1.485 -2.439 1.305 -5.23 3.744 -3.745a.722 .722 0 0 0 1.08 -.447c.673 -2.775 4.62 -2.775 5.294 0zm-2.647 4.919a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" />
                                        </svg></span>
                                </div>
                            </div>
                            <div class="overlay-circle" aria-hidden="true">
                                <span *ngIf="selectedDevices.includes(devices.deviceId)">MARKED</span>
                            </div>

                            <div class="home-pill" aria-hidden="true"></div>

                            <div class="screen-top-right" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>

            </div>
            }@else {
            <div class="relative opacity-25" cdkDrag>
                <input type="checkbox" class="peer sr-only" [id]="`chk-${devices.deviceId}`" [value]="devices.deviceId"
                    [checked]="selectedDevices.includes(devices.deviceId)"
                    (change)="onCheckboxChange($event, devices.deviceId)">
                <div class="p-1 rounded-xl border-2 border-transparent ">
                    <div class="phone" aria-hidden="true">
                        <div class="screen">
                            <div class="notch" aria-hidden="true"></div>

                            <div class="status-dots">● ●</div>

                            <div class="top-code" aria-hidden="true">
                                <div class="font-bold text-4xl text-white">{{devices.deviceId}}</div>
                                <div class="font-bold text-xl text-black">{{devices.name}}</div>
                                @if(devices.typeName==""){
                                <div class="font-bold text-xs my-2 p-2 rounded text-white bg-black">
                                    {{ "Sin Licencia" }}
                                </div>
                                }@else {
                                <div class="font-bold text-xl mb-2" [ngClass]="{
                                                               'text-green-600': devices.typeName === 'Spotify',
                                                               'text-red-600'  : devices.typeName === 'Apple'
                                                             }">
                                    {{ devices.typeName }}
                                </div>
                                }
                                <div class="font-normal text-xs text-black max-w-xs break-all"
                                    [attr.title]="devices.email">
                                    {{ devices.email }}
                                </div>

                            </div>
                            <div class="controls" (click)="openNoAssignedDevices(devices.deviceId, devices.name)">
                                <div class="btn-circle" title="Settings">
                                    <span class="gear"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="currentColor"
                                            class="icon icon-tabler icons-tabler-filled icon-tabler-settings">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M14.647 4.081a.724 .724 0 0 0 1.08 .448c2.439 -1.485 5.23 1.305 3.745 3.744a.724 .724 0 0 0 .447 1.08c2.775 .673 2.775 4.62 0 5.294a.724 .724 0 0 0 -.448 1.08c1.485 2.439 -1.305 5.23 -3.744 3.745a.724 .724 0 0 0 -1.08 .447c-.673 2.775 -4.62 2.775 -5.294 0a.724 .724 0 0 0 -1.08 -.448c-2.439 1.485 -5.23 -1.305 -3.745 -3.744a.724 .724 0 0 0 -.447 -1.08c-2.775 -.673 -2.775 -4.62 0 -5.294a.724 .724 0 0 0 .448 -1.08c-1.485 -2.439 1.305 -5.23 3.744 -3.745a.722 .722 0 0 0 1.08 -.447c.673 -2.775 4.62 -2.775 5.294 0zm-2.647 4.919a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" />
                                        </svg></span>
                                </div>
                            </div>
                            <div class="overlay-circle" (click)="toggleUnassignedCheckbox(devices.deviceId)"
                                aria-hidden="true">
                                <span *ngIf="selectedDevices.includes(devices.deviceId)">MARKED</span>
                            </div>

                            <div class="home-pill" aria-hidden="true"></div>

                            <div class="screen-top-right" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>
            </div>}

            }
            }@else {
            @for (devices of devicesService.devices$ | async; track devices.id) {
            <div class="relative" cdkDrag>
                <div class="p-1 rounded-xl border-2 border-transparent ">
                    <input type="checkbox" class="peer sr-only" [id]="`chk-${devices.deviceId}`"
                        [value]="devices.deviceId" [checked]="selectedDevices.includes(devices.deviceId)"
                        (change)="onCheckboxChange($event, devices.deviceId)">
                    <div class="phone" aria-hidden="true" (click)="toggleCheckbox(devices.deviceId)">
                        <div class="screen">
                            <div class="notch" aria-hidden="true"></div>

                            <div class="status-dots">● ●</div>

                            <div class="top-code" aria-hidden="true">
                                <div class="font-bold text-4xl text-white">{{devices.deviceId}}</div>
                                <div class="font-bold text-xl text-black">{{devices.name}}</div>
                                @if(devices.typeName==""){
                                <div class="font-bold text-xs my-2 p-2 rounded text-white bg-black">
                                    {{ "Sin Licencia" }}
                                </div>
                                }@else {
                                <div class="font-bold text-xl mb-2" [ngClass]="{
                                       'text-green-600': devices.typeName === 'Spotify',
                                       'text-red-600'  : devices.typeName === 'Apple'
                                     }">
                                    {{ devices.typeName }}
                                </div>
                                }
                                <div class="font-normal text-xs text-black max-w-xs break-all"
                                    [attr.title]="devices.email">
                                    {{ devices.email }}
                                </div>

                            </div>

                            <div class="expire font-bold text-xl text-black" aria-hidden="true">
                                Expiración De Cuenta
                                <small>{{
                                    devices.expirationDate | date:"EEEE, d 'de' MMMM 'de' y" : 'America/Santo_Domingo' :
                                    'es-DO' }}</small>
                            </div>

                            <div class="controls"
                                (click)="openDeviceSettings(devices.deviceId, devices.name, devices.ownerId, devices.id)">
                                <div class="btn-circle cursor-pointer" title="Settings">
                                    <span class="gear"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="currentColor"
                                            class="icon icon-tabler icons-tabler-filled icon-tabler-settings">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M14.647 4.081a.724 .724 0 0 0 1.08 .448c2.439 -1.485 5.23 1.305 3.745 3.744a.724 .724 0 0 0 .447 1.08c2.775 .673 2.775 4.62 0 5.294a.724 .724 0 0 0 -.448 1.08c1.485 2.439 -1.305 5.23 -3.744 3.745a.724 .724 0 0 0 -1.08 .447c-.673 2.775 -4.62 2.775 -5.294 0a.724 .724 0 0 0 -1.08 -.448c-2.439 1.485 -5.23 -1.305 -3.745 -3.744a.724 .724 0 0 0 -.447 -1.08c-2.775 -.673 -2.775 -4.62 0 -5.294a.724 .724 0 0 0 .448 -1.08c-1.485 -2.439 1.305 -5.23 3.744 -3.745a.722 .722 0 0 0 1.08 -.447c.673 -2.775 4.62 -2.775 5.294 0zm-2.647 4.919a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" />
                                        </svg></span>
                                </div>
                            </div>
                            <div class="controls2">
                                <div class="btn-circle cursor-pointer" title="Settings">
                                    @if(selectedDevices.includes(devices.deviceId)){
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-check">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M5 12l5 5l10 -10" />
                                    </svg>
                                    }

                                </div>
                            </div>


                            <div class="home-pill" aria-hidden="true"></div>

                            <div class="screen-top-right" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>

            </div>



            }
            }


        </div>

    </div>
</div>