.svg-title {
  font-size: 0.7rem;
}

.svg-subtitle {
  font-size: 1rem;
}

.svg-ip {
  font-size: 0.8rem;
}

.devicelist {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    5,
    minmax(0, 200px)
  ); /* max 200px, shrink if needed */
  justify-content: space-between; /* spread items */
  gap: 2rem; /* spacing between items */
}
