<div class="flex p-4 pb-0 justify-between items-center">
    <span class="text-xl font-bold">Licencias</span>
    <div class="cursor-pointer" (click)="closeModal()">
        <svg transform="scale(1.5)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-x">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
</div>
<div class="flex flex-column p-4 gap-2">

    <div class="flex flex-col gap-4">
        <div class="flex-1">
            <CustomTable #customTable [cols]="columns" [hasOverlayMenu]="true" [customFetchData]="getLicenses"
                [data$]="licensesService.licensesActiveList$" [totalRecords$]="licensesService.totalRecordsActiveList$"
                [isCustomPagination]="true" [additionalPaginationVariables]="customPagination"
                [customFetchDataType]="'licensesActive'" (rowSelected)="rowSelected($event)">
                <ng-template #customMenuTemplate let-closeMenu="closeMenu">
                    <button class="text-primary" (click)="openEditLicenseModal(); closeMenu()">Editar</button>
                    <button class="text-danger" (click)="openDeleteLicenseModal(); closeMenu()">Eliminar</button>
                </ng-template>
            </CustomTable>
        </div>
        <div class="flex gap-2 justify-content-end">
            <button type="button" class="btn btn-primary" (click)="openAssignLicense()">
                Asignar Licencia
            </button>
        </div>
    </div>

</div>